# Lines that start with '#' are comments.

*~
*.pyc
*.log
*.[oa]

# ignore any build directory from this level down
build/

# ignore mac Desktop Services Store files
.DS_Store

# ignore SCons db
.sconsign.dblite
